@import (reference) "~ui/styles/variables";
@import (reference) "~ui/styles/mixins";
@import (reference) "~ui/styles/theme";

processor-tree {
  display: block;
  margin-bottom: 20px;

  .selectable-list {
    list-style: none;
    padding: 0px;
  }

  &.branch {
    .selectable-list {
      padding-left: 10px;
    }
    margin-bottom: 0px;
  }
}
