<button
  ng-click="editPipeline(pipeline)"
  class="btn btn-default"
  aria-label="Edit">
  <span class="sr-only">Edit</span>
  <i aria-hidden="true" class="fa fa-pencil"></i>
</button>

<button
  class="btn btn-danger"
  confirm-click="deletePipeline(pipeline)"
  confirmation="Are you sure you want to delete the [{{pipeline.description || pipeline.pipelineId}}] pipeline? This action is irreversible!"
  aria-label="Hide">
  <span class="sr-only">Delete</span>
  <i aria-hidden="true" class="fa fa-trash"></i>
</button>

<!-- <a ng-disabled="selectedItems.length == 0"
  confirm-click="deletePipeline(pipeline)"
  confirmation="Are you sure you want to delete the [{{pipeline.description || pipeline.pipelineId}}] pipeline? This action is irreversible!"
  class="btn btn-xs btn-danger" aria-label="Delete"><i aria-hidden="true" class="fa fa-trash"></i> Delete</a>
<a ng-disabled="selectedItems.length == 0"
  ng-click="exportPipeline()"
  class="btn btn-xs btn-default" aria-label="Export"><i aria-hidden="true" class="fa fa-download"></i> Export</a>
 -->
