<select
  class="form-control"
  ng-model="pipeline.sampleCollection.index"
  ng-options="pipeline.sampleCollection.samples.indexOf(sample) as sample.description for sample in pipeline.sampleCollection.samples">
</select>
<button
  type="Previous Document"
  tooltip="Previous Document"
  tooltip-append-to-body="true"
  class="btn previous"
  ng-click="documentSelector.previousSample();">
  <i aria-hidden="true" class="fa fa-chevron-left"></i>
</button>
<button
  type="Next Document"
  tooltip="Next Document"
  tooltip-append-to-body="true"
  class="btn next"
  ng-click="documentSelector.nextSample();">
  <i aria-hidden="true" class="fa fa-chevron-right"></i>
</button>
