<div
  class="tree-item"
  ng-click="pipelineProcessors.editProcessorShell = processorShell;"
  draggable-handle>
  <div class="collapse-icon">
    <button
      type="button"
      tooltip="Expand"
      tooltip-append-to-body="true"
      class="btn btn-xs"
      ng-show="!processorShell.expanded && processorShell.failureProcessorCollection.processors.length > 0 && processorShell.failureAction === 'on_error'"
      ng-click="processorShell.expanded = true">
      <i aria-hidden="true" class="fa fa-caret-right"></i>
    </button>
    <button
      type="button"
      tooltip="Collapse"
      tooltip-append-to-body="true"
      class="btn btn-xs"
      ng-show="processorShell.expanded && processorShell.failureProcessorCollection.processors.length > 0 && processorShell.failureAction === 'on_error'"
      ng-click="processorShell.expanded = false">
      <i aria-hidden="true" class="fa fa-caret-down"></i>
    </button>
  </div>
  <div class="status-icon">
    <i
      aria-hidden="true"
      class="fa fa-warning error-fail"
      tooltip="{{processorShell.error.message}}"
      tooltip-append-to-body="true"
      ng-show="processorShell.state === processorStates.ERROR_FAIL">
    </i>
    <i
      aria-hidden="true"
      class="fa fa-warning error-recover"
      tooltip="{{processorShell.error.message}}"
      tooltip-append-to-body="true"
      ng-show="processorShell.state === processorStates.ERROR_RECOVER">
    </i>
    <i
      aria-hidden="true"
      class="fa fa-warning error-compile"
      tooltip="{{processorShell.error.message}}"
      tooltip-append-to-body="true"
      ng-show="processorShell.state === processorStates.ERROR_COMPILE">
    </i>
    <i
      aria-hidden="true"
      class="fa fa-question no-result"
      tooltip-append-to-body="true"
      ng-show="processorShell.state === processorStates.NO_RESULT">
    </i>
  </div>
<!--   <div class="title">{{processorShell.processor.title}} ({{processorShell.processorId}})</div> -->
  <div class="title">
    <span class="processor-type">{{processorShell.title}}</span>
    <span class="processor-description">{{processorShell.description}}</span>
  </div>
  <div class="buttons">
    <button
      type="button"
      tooltip="Delete"
      tooltip-append-to-body="true"
      class="btn btn-xs"
      ng-click="delete()">
      <i aria-hidden="true" class="fa fa-trash"></i>
    </button>
  </div>
</div>
<processor-tree
  class="branch"
  ng-show="processorShell.expanded && processorShell.failureProcessorCollection.processors.length > 0 && processorShell.failureAction === 'on_error'"
  processor-collection="processorShell.failureProcessorCollection"
  pipeline-processors="pipelineProcessors">
</processor-tree>
