<div class="form-group">
  <label>Target Field:</label>
  <field-select
    processor="processor"
    field="processor.targetField">
  </field-select>
</div>
<div class="form-group">
  <label>Language:</label>
  <input type="text" class="form-control" ng-trim="false" ng-model="processor.language">
</div>
<div class="form-group">
  <label>Filename:</label>
  <input type="text" class="form-control" ng-trim="false" ng-model="processor.filename">
</div>
<div class="form-group">
  <label>Script Id:</label>
  <input type="text" class="form-control" ng-trim="false" ng-model="processor.scriptId">
</div>
<div class="form-group">
  <label>Inline Script:</label>
  <input type="text" class="form-control" ng-trim="false" ng-model="processor.inlineScript">
</div>

