@import (reference) "~ui/styles/variables";
@import (reference) "~ui/styles/mixins";
@import (reference) "~ui/styles/theme";

secondary-nav {
  display: flex;
  flex: 0 1 auto;

  nav {
    display: flex;
    flex: 1 1 auto;

    &.navbar-default {
      background-color: transparent;
      border-bottom: 2px solid;
      border-bottom-color: @kibanaGray5;
    }

    .container {
      width: 100%;
    }

    .navbar-nav {
      font-size: 10pt;

      .link {
        border-bottom: 3px solid;
        border-bottom-color: transparent;

        &.active {
          border-bottom-color: #3daad1;
        }
      }
    }
  }

}
