<ul>
  <li ng-repeat="processorShell in processorCollection.processors">
    <a
      aria-label="{{processorShell.processor.title}} - {{processorShell.processor.description}}"
      tooltip="{{processorShell.processor.title}} - {{processorShell.processor.description}}"
      tooltip-append-to-body="true"
      ng-click="jumpToProcessor(processorShell);">
      {{processorShell.processor.title}} ({{processorShell.processorId}})
    </a>
    <jump-to-processor-branch
      pipeline="pipeline"
      processor-collection="processor.failureProcessorCollection">
    </jump-to-processor-branch>
  </li>
</ul>
