<nav class="navbar navbar-default subnav">
  <div class="container-fluid">

    <!-- tabs -->
    <ul class="nav navbar-nav">
      <li
        ng-class="{active: sidebar.section == 'processors'}">
        <a
          class="link"
          ng-class="{'selected': sidebar.section == 'processors'}"
          ng-click="sidebar.section='processors'">
          Processors
        </a>
      </li>
      <li
        ng-class="{active: sidebar.section == 'details'}">
        <a
          class="link"
          ng-class="{'selected': sidebar.section == 'details'}"
          ng-click="sidebar.section='details'">
          Pipeline Options
        </a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
<!--       <li
        ng-if="visualizeEditor.softErrorCount() > 0"
        disabled
        tooltip="{{ visualizeEditor.describeErrors() }}"
        tooltip-placement="bottom"
        tooltip-popup-delay="400"
        tooltip-append-to-body="1">
        <a class="vis-editor-subnav-link vis-editor-subnav-link--danger">
          <i class="fa fa-warning"></i>
        </a>
      </li> -->
      <li
        tooltip="Jump to Processor"
        tooltip-placement="bottom"
        tooltip-popup-delay="400"
        tooltip-append-to-body="1">
        <button
          class="btn btn-primary navbar-btn jump-to-processor"
          ng-click="sidebar.jumpToProcessor()">
          <i class="fa fa-sitemap"></i>
        </button>
      </li>
      <li
        tooltip="Simulate Pipeline"
        tooltip-placement="bottom"
        tooltip-popup-delay="400"
        tooltip-append-to-body="1">
        <button
          class="btn btn-primary navbar-btn apply-changes"
          ng-disabled="!pipeline.dirty"
          ng-click="sidebar.simulate()">
          <i class="fa fa-play"></i>
        </button>
      </li>
      <li
        tooltip="Discard changes"
        tooltip-placement="bottom"
        tooltip-popup-delay="400"
        tooltip-append-to-body="1">
        <button
          class="btn btn-default navbar-btn cancel-changes"
          ng-disabled="!pipeline.dirty">
          <i class="fa fa-close"></i>
        </button>
      </li>
    </ul>
  </div>
</nav>
