<div class="header-line">
  <label>
    Pipeline Output
    <a
      aria-label="The pipeline output shows the result of the defined pipeline using the sample records supplied in the previous step."
      tooltip="The pipeline output shows the result of the defined pipeline using the sample records supplied in the previous step."
      tooltip-append-to-body="true"
      target="_blank">
      <i aria-hidden="true" class="fa fa-question-circle"></i>
    </a>
  </label>
  <source-data
    sample="pipeline.input"
    samples="samples"
    disabled="pipeline.hasCompileError">
  </source-data>
</div>
<pre ng-hide="pipeline.error" class="outputMeta">{{ pipeline.outputMeta | json }}</pre>
<pre ng-hide="pipeline.error" class="output">{{ pipeline.output | json }}</pre>
<div
  ng-show="pipeline.error"
  class="alert alert-danger">
  Current pipeline will not successfully index the sample document.
</div>
