<h2><em>Pipeline Samples</em></h2>
<p>Pipelines are used to modify and enrich your data while it is being indexed into Elasticsearch. In order to build a pipeline, we need to define at least one Sample. A Sample is an example of data that your pipeline will be expected to work with. You can click 'Add Single Sample' to enter or paste a single JSON object. You can also click 'Add Samples from Logs' to create multiple samples at one time from line delimited text.</p>

<paginated-table
  class="pattern-review-field-table"
  columns="columns"
  rows="rows"
  per-page="10">
</paginated-table>

<p class="text-center default-message" style="font-weight:bold; margin-top:30px; margin-bottom:30px;" ng-if="rows.length === 0">No Samples defined. Add at least one to start editing the Pipeline.</p>

<div class="buttons">
  <button
    ng-click="addFromLogs()"
    type="button"
    class="btn btn-primary">
    Add Samples from Logs
  </button>
  <button
    ng-click="addFromJson()"
    type="button"
    class="btn btn-primary">
    Add Single Sample
  </button>
</div>
