<div class="form-group">
  <div class="header">
    <label>Processor Input<span ng-if="processorShell.inputControlsState.showMeta"> (metadata)</span>:</label>
    <input-output-controls options="processorShell.inputControlsState"></input-output-controls>
  </div>
  <div ng-hide="processorShell.inputControlsState.showMeta">
    <pre ng-class="{ 'full': processorShell.inputControlsState.expandLevel === 2, 'small': processorShell.inputControlsState.expandLevel === 1, 'stale': pipeline.dirty }">{{ processorShell.inputObject.doc | json }}</pre>
  </div>
  <div ng-show="processorShell.inputControlsState.showMeta">
    <pre ng-class="{ 'full': processorShell.inputControlsState.expandLevel === 2, 'small': processorShell.inputControlsState.expandLevel === 1 }">{{ processorShell.inputObject.meta | json }}</pre>
  </div>
</div>
