<form name="processorForm">
  <processor-ui-container-header
    pipeline="pipeline"
    processor-collection="processorCollection"
    processor="processor">
  </processor-ui-container-header>
  <div
    class="processor-ui-container-body"
    ng-class="{locked: processor.locked}">
    <div
      class="processor-ui-container-body-content"
      ng-hide="processor.collapsed">
      <processor-id processor="processor"></processor-id>
      <processor-input processor="processor"></processor-input>
      <div class="processor-ui-content"></div>
      <failure-action
        failure-action="processor.failureAction"
        processor-collection="processor.failureProcessorCollection"
        pipeline="pipeline"
        options="processor.failureOptions">
      </failure-action>
      <div
        ng-show="processor.state === 'error fail'"
        class="alert alert-danger">
        {{processor.error.message}}
      </div>
      <div
        ng-show="processor.state === 'error recover'"
        class="alert alert-warning">
        {{processor.error.message}}
      </div>
      <div
        ng-show="processor.state === 'error compile'"
        class="alert alert-danger">
        <div>Compile Error</div>
        {{processor.error.message}}
      </div>
      <div
        ng-show="processor.state === 'no result'"
        class="alert alert-info">
        No results were returned for this processor. May be part of a failure path that was not triggered.
      </div>
      <processor-output
        ng-show="processor.state === 'valid'"
        processor="processor">
      </processor-output>
    </div>
    <div class="overlay"></div>
  </div>
</form>
