<div
  ng-show="processorShell.state === processorStates.ERROR_FAIL"
  class="alert alert-danger">
  {{processorShell.error.message}}
</div>
<div
  ng-show="processorShell.state === processorStates.ERROR_RECOVER"
  class="alert alert-warning">
  {{processorShell.error.message}}
</div>
<div
  ng-show="processorShell.state === processorStates.ERROR_COMPILE"
  class="alert alert-danger">
  <div>Compile Error</div>
  {{processorShell.error.message}}
</div>
<div
  ng-show="processorShell.state === processorStates.NO_RESULT"
  class="alert alert-info">
  No results were returned for this processor. May be part of a failure path that was not triggered.
</div>
<div
  class="form-group"
  ng-show="processorShell.state === processorStates.VALID">
  <div class="header">
    <label>Processor Output<span ng-if="processorShell.outputControlsState.showMeta"> (metadata)</span>:</label>
    <input-output-controls options="processorShell.outputControlsState"></input-output-controls>
  </div>
  <div
    class="visual output"
    ng-class="{'hide-unchanged': processorShell.outputControlsState.showChanges, 'full': processorShell.outputControlsState.expandLevel === 2, 'small': processorShell.outputControlsState.expandLevel === 1, 'stale': pipeline.dirty}">
  </div>
</div>
