<form name="processorForm">
  <processor-ui-container-header
    pipeline="pipeline"
    processor-collection="processorCollection"
    processor-shell="processorShell">
  </processor-ui-container-header>
  <div
    class="processor-ui-container-body">

    <div
      class="processor-ui-container-body-content"
      ng-hide="processorShell.collapsed">
      <div class="alert alert-warning unknown-warning" ng-show="processorShell.typeId === 'unknown'">This processor is a type that is unknown by Kibana. This interface will allow you to edit and view this processor as raw JSON. It is strongly recommended that you install the plugin that corresponds to this processor type. Warning: Entering JSON that ingest does not understand can break Kibana.</div>
      <processor-input
        processor-shell="processorShell"
        pipeline="pipeline">
      </processor-input>
      <processor-select
        processor-type-id="processorTypeId">
      </processor-select>
      <processor-id
        processor-shell="processorShell"
        ng-show="processorShell.typeId">
      </processor-id>
      <div
        class="processor-ui-content"
        ng-show="processorShell.typeId">
      </div>
      <failure-action
        failure-action="processorShell.failureAction"
        processor-collection="processorShell.failureProcessorCollection"
        pipeline="pipeline"
        options="processorShell.failureOptions"
        ng-show="processorShell.typeId">
      </failure-action>
      <processor-output
        processor-shell="processorShell"
        pipeline="pipeline"
        ng-show="processorShell.typeId">
      </processor-output>
    </div>

    <div class="overlay"></div>
  </div>
</form>
