<div class="header">
  <label>Pipeline Input</label>
  <div class="controls">
    <button
      aria-label="Jump to Input"
      tooltip="Jump to Input"
      tooltip-append-to-body="true"
      ng-click="jumpToSample()"
      type="button"
      class="btn btn-xs btn-primary"
      ng-disabled="pipeline.sampleCollection.samples.length <= 1">
      <i aria-hidden="true" class="fa fa-bars"></i>
    </button>
    <button
      aria-label="Previous Input"
      tooltip="Previous Input"
      tooltip-append-to-body="true"
      ng-click="previousSample()"
      type="button"
      class="btn btn-xs btn-primary"
      ng-disabled="pipeline.sampleCollection.samples.length <= 1">
      <i aria-hidden="true" class="fa fa-caret-left"></i>
    </button>
    <button
      aria-label="Next Input"
      tooltip="Next Input"
      tooltip-append-to-body="true"
      ng-click="nextSample()"
      type="button"
      class="btn btn-xs btn-primary"
      ng-disabled="pipeline.sampleCollection.samples.length <= 1">
      <i aria-hidden="true" class="fa fa-caret-right"></i>
    </button>
    <input-output-controls options="pipeline.inputControlsState"></input-output-controls>
  </div>
</div>
<div class="description-wrapper">
  <pre class="description">{{currentSample.description}}</pre>
  <pre class="input-count">({{pipeline.sampleCollection.index+1}}/{{pipeline.sampleCollection.samples.length}})</pre>
</div>
<div
  class="content-wrapper"
  ng-class="{'full': pipeline.inputControlsState.expandLevel === 2, 'small': pipeline.inputControlsState.expandLevel === 1}">
  <div class="collection-controls">
    <button
      type="button"
      tooltip="Edit Current Input"
      tooltip-append-to-body="true"
      class="btn btn-xs btn-primary"
      ng-click="editInput()">
      <i aria-hidden="true" class="fa fa-pencil"></i>
    </button>
    <button
      type="button"
      tooltip="Add New Input"
      tooltip-append-to-body="true"
      class="btn btn-xs btn-primary"
      ng-click="addInput()">
      <i aria-hidden="true" class="fa fa-plus"></i>
    </button>
    <button
      type="button"
      tooltip="Clone Current Input"
      tooltip-append-to-body="true"
      class="btn btn-xs btn-primary"
      ng-click="cloneInput()">
      <i aria-hidden="true" class="fa fa-clone"></i>
    </button>
    <button
      type="button"
      tooltip="Delete Current Input"
      tooltip-append-to-body="true"
      ng-disabled="sampleCollection.samples.length <= 1"
      class="btn btn-xs btn-danger"
      ng-click="deleteInput()">
      <i aria-hidden="true" class="fa fa-trash"></i>
    </button>
  </div>
  <pre>{{currentSample.doc | json}}</pre>
</div>
