<form
  role="form"
  name="inputEditForm"
  ng-submit="inputEdit.save()">
  <div class="form-group">
    <label>Input Description</label>
    <input
      type="text"
      class="form-control"
      ng-model="inputEdit.editSample.description" />
  </div>
  <div class="form-group">
    <label>JSON Document</label>
    <div
      class="json-editor"
      json-input
      require-keys="true"
      ui-ace="{
        mode: 'json',
        onLoad: aceLoaded
      }"
      ng-model="inputEdit.editSample.doc">
    </div>
  </div>
  <div class="form-group buttons">
    <button
      type="button"
      class="btn btn-primary"
      ng-click="inputEdit.cancel()">
      Cancel
    </button>
    <button
      type="submit"
      class="btn btn-success"
      ng-disabled="inputEditForm.$invalid">
      Done
    </button>
  </div>
</form>
