<form
  role="form"
  name="inputLookupForm"
  ng-submit="inputLookup.save()">
  <ul class="inputs">
    <li ng-repeat="sample in pipeline.sampleCollection.samples" ng-dblclick="inputLookup.loadSample(sample)">
      <label>
        <input type="radio" ng-model="inputLookup.index" value="{{$index}}">
        <span
          ng-if="sample.state === states.VALID"
          class="status-valid"
          aria-label="This Sample would be indexed successfully using the current Pipeline."
          tooltip="This Sample would be indexed successfully using the current Pipeline."
          tooltip-append-to-body="true">
        </span>
        <span
          ng-if="sample.state === states.INVALID"
          class="status-invalid"
          aria-label="This Sample would not be indexed successfully using the current Pipeline."
          tooltip="This Sample would not be indexed successfully using the current Pipeline."
          tooltip-append-to-body="true">
        </span>
        <span
          ng-if="sample.state === states.UNKNOWN"
          class="status-unknown"
          aria-label="This Sample has not been tested using the current Pipeline. Please wait."
          tooltip="This Sample has not been tested using the current Pipeline. Please wait."
          tooltip-append-to-body="true">
        </span>
        <span class="description">{{sample.description}}</span>
      </label>
    </li>
  </ul>

  <div class="form-group buttons">
    <button
      type="button"
      class="btn btn-primary"
      ng-click="inputLookup.cancel()">
      Cancel
    </button>
    <button
      type="submit"
      class="btn btn-success"
      ng-disabled="inputLookup.$invalid">
      Done
    </button>
  </div>
</form>
