@import (reference) "~ui/styles/variables";
@import (reference) "~ui/styles/mixins";
@import (reference) "~ui/styles/theme";

pipeline-input {
  display: block;
  margin-bottom: 10px;
  background-color: white;

  input-output-controls {
    margin-left: 5px;
  }

  textarea.form-control {
    min-height: 110px;
    height: 110px;
  }

  .description-wrapper {
    display: flex;
    flex: 0 0 auto;

    .description {
      flex: 0 1 auto;
      font-style: italic;
      padding-top: 3px;
      padding-bottom: 0px;
      width:100%;
    }

    .input-count {
      flex: 0 0 auto;
      font-style: italic;
      padding-top: 3px;
      padding-bottom: 0px;
    }
  }

  .header {
    display: flex;

    label {
      flex: 1 1 auto;
    }

    .controls {
      flex: 0 0 auto;
      display: flex;
      height: 22px;

      button {
        flex: 0 0 auto;
        width: 22px;
        position: relative;
        top: -5px;
        margin-left: 5px;
      }
    }
  }

  .content-wrapper {
    position: relative;

    &.full {
      pre {
        max-height: auto;
        height: auto;
      }
    }

    &.small {
      pre {
        max-height: 110px;
        height: 110px;
        overflow-y: scroll;
      }
    }
  }

  .collection-controls {
    position: absolute;
    bottom: 0px;
    right: 25px;

    padding: 5px;
    background-color: white;

    opacity: 0.10;

    &:hover {
      opacity: 1;
    }
  }
}

pipeline-input-edit {
  //border: 1px solid @kibanaGray4;

  .json-editor {
    height:300px;
    margin-bottom: 10px;
  }

  .buttons {
    float:right;
  }
}

pipeline-input-lookup {
  .buttons {
    float: right;
  }

  .status(@color, @icon) {
    &:before {
      font-family: 'FontAwesome';
      content: @icon;
    }

    font-size: 1em;
    color: @color;
  }

  .status {
    &-valid {
      .status(green, @fa-var-check);
    }

    &-invalid {
      .status(red, @fa-var-times-circle-o);
    }

    &-unknown {
      .status(black, @fa-var-hourglass-o);
    }
  }

  ul {
    list-style: none;
    padding-left: 0px;
  }

  label {
    font-weight: normal;
  }
}
