pipeline-input {
  display: block;
  margin: 1px;
  padding: 10px;
  background-color: white;

  label {
    font-weight: normal;
  }

  textarea.form-control {
    min-height: 110px;
    height: 110px;
  }

  .header {
    display: flex;

    label {
      flex: 1 1 auto;
    }

    source-data {
      flex: 0 0 auto;
    }
  }
}
